.menu {
    background-color: $darkblue;
    color: $lightblue-200;
    width: 500px;
    height: 395px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 3em 0 #324b609b;

    &-wrap {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: $header-h;
        padding-top: $header-h;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: #f9faffad;
        z-index: 99;
        transition: opacity .2s;

        &--active {
            opacity: 1;
            pointer-events: all;
        }
    }

    &__user {
        padding: 20px 40px;
        background-image: linear-gradient(-135deg, #6ee368, #4a9746);
        width: 100%;
        display: grid;
        grid-template-columns: 125px auto;
        grid-template-rows: repeat(2, 50px);
    }

    &__settings {
        border-bottom: 2px solid $lightblue-100;
        padding: 10px 40px;
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 8px;

        &-btn {
            font-weight: 800;
            font-size: 1em;
            color: $darkblue;
            background-color: $lightblue-200;
            border-radius: 5px;
            padding: 10px 15px 10px 35px;
        }
    }
    &__voucher {
        background-position: 100% 0%;

        height: 100%;
        background-size: 100%;
        background-image: url('../assets/img/sprite-voucher.png');
        background-color: #6ee368;
    }
}

// * ``` Связано с БД ```
.userimg {
    grid-column: 1;
    width: 100px;
    height: 100px;
    @include userimg;
}
.username,
.uid {
    height: 50px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.4em;
}
.username {
    grid-column: 2;
    grid-row: 1;
}
.uid {
    grid-column: 2;
    grid-row: 2;
}