<header class="header">
    <div class="header__body">
        <span class="header__logo"></span>
        <div class="header__contacts">
            <span class="header__contacts-item header__contacts-item-1">+54 9 11 6408-6045</span>
            <span class="header__contacts-item header__contacts-item-2">@VladITkid</span>
        </div>
        <div class="header__discount">
            <h4 class="header__discount-title">
                Сэкономьте до -10%<br>
                <span class="header__discount-title-text">на первой неделе сотрудничества.</span>
            </h4>
        </div>
        <button class="header__menu-btn"></button>
        
    </div>
</header>