<header class="header">
    <div class="header__body">
        <span class="header__logo"></span>
        <div class="header__contacts">
            <span class="header__contacts-item header__contacts-item-1">+54 9 11 6408-6045</span>
            <span class="header__contacts-item header__contacts-item-2">@VladITkid</span>
        </div>
        <div class="header__discount">
            <h4 class="header__discount-title">
                Сэкономьте до -10%<br>
                <span class="header__discount-title-text">на первой неделе сотрудничества.</span>
            </h4>
        </div>
        <button class="header__menu-btn menu-btn"></button>
        <button class="header__vidget menu-btn"></button>
    </div>
</header>
<div class="menu-wrap">
    <div class="menu">
        <div class="menu__user">
            <div class="userimg"></div>
            <h4 class="username">Кузьма Кузьмич</h4>
            <h4 class="uid">uid: 1<h4>
        </div>
        <div class="menu__settings">
            <h4 class="menu__settings-title">Ваш язык</h4>
            <button class="menu__settings-btn menu__settings-btn-language menu__settings-btn-language-english">English</button>
            <button class="menu__settings-btn menu__settings-btn-language menu__settings-btn-language-spanish">Español</button>
            <button class="menu__settings-btn menu__settings-btn-language menu__settings-btn-language-russian">Русский</button>
            <h4 class="menu__settings-title">Кастомный курсор</h4>
            <button class="menu__settings-btn menu__settings-btn-cursor menu__settings-btn-cursor-default">По умолчанию</button>
            <button class="menu__settings-btn menu__settings-btn-cursor menu__settings-btn-cursor-custom">Кастомный</button>
        </div>
    </div>
</div>