// * ``` Курсор ```
// Скрываю на мобилках
@media (max-width: $tablet) {
    .cursor {
        display: none !important;
    }
    body, button {
        cursor: auto !important;
    }
}
.cursor {
    z-index: 1001;
    position: fixed;
    display: flex;
    width: 60px; // Размер кастомного курсора
    height: 60px;
    padding: 15px;
    background-image: url('../assets/img/sprite-cursor.png');
    background-position: 0% 0%;
    background-size: 400% 100%;
    background-repeat: no-repeat;
    pointer-events: none; // Курсор не будет блокировать взаимодействие с элементами на странице
    transform: translateY(-10%) translateX(-30%); // Центрирование изображения под курсором
}
body, button {
    cursor: none;
}

// * ``` Эффекты клика ```
// * Переменные
$cursor-effect-diameter: 100px;
$cursor-effect-center: translate(-50%, -50%);
$cursor-effect-z-index: 1000000;
$frame-size: 6.666%;

// * Анимации
// Aнимации для нескольких одновременно
@keyframes cursorClickEffect_rotation {
    0% {opacity: 1;}
    100% {
        transform: $cursor-effect-center rotate(-360deg) scale(2);
        opacity: 0;
    }
}


.cursor-click-effect {
    // Общие стили
    opacity: 0;
    position: fixed;
    width: $cursor-effect-diameter;
    height: $cursor-effect-diameter;
    transform: $cursor-effect-center;
    pointer-events: none;
    // z-индексы
    z-index: 1000;
    &--inactive {display: none;}

    &--active {
        opacity: 0;
        background-image: url('../assets/img/sprite-cursor.png');
        background-size: 400% 100%;
        background-position: 100% 0%;
        animation: cursorClickEffect_rotation 1s linear infinite;
    }
}