// * ``` Курсор ```
// Скрываю на мобилках
@media (max-width: $tablet) {
    .cursor {
        display: none !important;
    }
    body, button {
        cursor: auto !important;
    }
}
.cursor {
    z-index: 1001;
    position: fixed;
    display: flex;
    width: 60px; // Размер кастомного курсора
    height: 60px;
    padding: 15px;
    background-image: url('../assets/img/sprite-cursor.png');
    background-position: 0% 0%;
    background-size: 400% 100%;
    background-repeat: no-repeat;
    pointer-events: none; // Курсор не будет блокировать взаимодействие с элементами на странице
    transform: translateY(-10%) translateX(-30%); // Центрирование изображения под курсором
}
body, button {
    cursor: none;
}