// Кнопки
.btn--blue {
    $gradient: radial-gradient(at 70% 110%, #8437ff, #6ca9ff);
    position: relative;
    z-index: 1;

    font-weight: 700;
    font-size: 1.4em;
    border-radius: 10px;

    width: 12em;
    height: 3.2em;

    color: $white;
    background-image: $gradient;

    &::after {
        content: '';
        filter: blur(8px);
        position: absolute;
        border-radius: 10px;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: $gradient;
        width: 12em;
        height: 3.2em;
    }

    // Позиционирование вправо
    &-to-right {margin-left: auto;}
}